.gradle
.idea
gradle
outputs
intermediates
tmp
local.properties 
/build
/Android.mk
/src
/SettingsLib/build/
/SystemUI7/build/
/LeatherLib/build/
/Keyguard/build/
/MagzineLockScreenLib/build/
/Keyguard/Keyguard.iml
/LeatherLib/LeatherLib.iml
/SettingsLib/SettingsLib.iml
/SystemUI7/SystemUI7-SystemUI7.iml


